@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(93,116,210);
background: linear-gradient(180deg, rgba(93,116,210,1) 0%, rgba(93,194,255,1) 90%) no-repeat center center fixed; 
background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}